################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AkkaScheduler/obj/Debug
/AkkaScheduler/bin/Debug
/.vs/AkkaScheduler/v14
/packages
